@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
header nav ul{
    display: inline-flex
    ;
    gap: 30px;
}
header nav ul li{
    list-style-type: none;
}
header nav ul li a{
    text-decoration: none;
    color: black;
    font-family:'Roboto';
}
header nav ul li a{
    color: orange;
    
}
.taille{
    font-size: 20px;
}
main section h2{
    color: red;
    font-weight:;
}
main section p{
    font-size:larger;
    font-weight: bold;
}
.sauf p{
    color: black;
    text-align: center;
    font-weight: 100;
}
main section h1{
    font-size:xx-large;
    text-align: center;
}
body{
    background-color: lightgray ;
}
nav{
    background-color: bisque;
}